/********************** General (start) **********************/
html, body, .App, div#root {
  min-height: 100%;
}

html, body, div#root {
  height: 100%
}

a, a:hover {
  color: rgba(0, 0, 0, 0.85);
}

div, span, p, a, li, h3, h4, h5, label, input, select, textarea {
  font-family: Ovo;
}

h1, h2 {
  font-family: Rye;
}

/********************** General (end) **********************/

/********************* Callout (start) *********************/
/* Main div of callout*/
div.tab-content {
  float: none;
  background-color: rgba(0, 0, 0, 0.8);
  border: rgb(183, 104, 0) solid 5px;
}

/* Next nested callout div */
div.tabContent {
  margin: auto;
  float: none;
  height:100%;
  min-height: 100%;
  overflow: auto;
}

/* Callout content */
div.callout {
  padding: 40px;
  min-height: 18em;
}
/********************* Callout (end) *********************/

/******************* Main App (start) ********************/
.App {
  text-align: center;
  background-color: black;
  overflow: hidden;
}

.App-inner {
  margin: auto;
  float: none;
  width: 100%;
}

.App-body {
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header {
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/******************* Main App (end) *********************/

/****************** Navigation (start) *******************/
/* Navigation bar */
ul.nav.nav-tabs {
  background: rgba(241, 114, 39, 0.8);
  font-size: 15px;
  font-weight: 700;
  font-family: 'Helvetica';
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.nav-tabs>li>a {
  border-radius: 0 !important;
}

/* Active nav tabs */
.nav-tabs>li.active>a {
  background-color: rgba(241, 114, 39, 0.7);
  color: rgba(0, 0, 0, 0.85) !important;
}
/****************** Navigation (end) *******************/

/****************** RSVP form (start) *******************/
/* Form field placeholder */
input.formField::placeholder, textarea.formField::placeholder  {
  color: black;
}

/* Remove blue outline */
.formField:focus {
  outline: none;
}

select:focus {
  background-color: #fff;
}

/* Form field style */
.formField {
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  font-size: 15px;
  width: 20em;
}

select.formField {
  height: 3em;
}

label.formField {
  text-align: center;
  font-size: 15px;
  color: white;
}

/* Button on form */
button.buttonForm {
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  background-color: rgba(241, 114, 39, 0.8);
  color: black;
  border: black solid 2px;
  margin-top: 40px;
}

/* Button on form hover style */
button.buttonForm:hover {
  background-color: rgba(243, 189, 189, 0.11);
  border: rgba(241, 114, 39, 0.71) solid 2px;
  color: rgba(241, 114, 39, 0.71);
}

/* Button with addl. text */
button.butterAnother {
  font-size: 15px;
}
/****************** RSVP form (end) *******************/

/********************* Media queries (start) *********************/
@media only screen and (max-width: 475px) {
  div.tab-content {
      margin: 20% auto 10% auto;
  }
}

@media only screen and (min-width: 475px) and (max-width: 550px) {
  div.tab-content {
      margin: 17% auto 10% auto;
  }
}

@media only screen and (min-width: 550px) and (max-width: 600px) {
  div.tab-content {
      margin: 15% auto 10% auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
  div.tab-content {
      margin: 14% auto 10% auto;
  }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
  div.tab-content {
      margin: 11% auto 10% auto;
  }
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
  div.tab-content {
      margin: 10% auto 10% auto;
  }
}

@media only screen and (min-width: 900px) {
  div.tab-content {
      margin: 8% auto 10% auto;
  }
}

@media only screen and (max-width: 600px) {
  div.tab-content {
      width: 100%;
  }
  .tabContent {
    width: 100%;
  }
  button.buttonForm {
    width: 50%;
  }
  .App {
    background-size: cover;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  div.tab-content {
      width: 80%;
  }
  .tabContent {
    width: 100%;
  }
  button.buttonForm {
    width: 40%;
  }
  .App {
    background-size: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  div.tab-content {
    width: 70%;
    margin: 8% auto 5% auto;
  }
  .tabContent {
    width: 80%;
  }
  button.buttonForm {
    width: 35%;
  }
  .App {
    background-size: 100%;
  }
}
/******************** Media queries (end) ********************/