@media only screen and (max-width: 600px) {
  div.tab-content {
      width: 100%
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  div.tab-content {
      width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  div.tab-content {
      width: 65%;
  }
}

div.tab-content {
  margin: auto;
  float: none;
}

.tabContent {
  margin: auto;
  float: none;
  width: 60%;
  height:100%;
  overflow: auto;
}

div.form {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 10%;
  padding: 40px;
}

.App {
  text-align: center;
}

.App-inner {
  margin: auto;
  float: none;
  background-size: 100%;
  width: 100%;
}

.App-body {
  background-color: #000;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  max-width: 200px;
}

.App-header {
  background-color: #000;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.background {
  min-height: 750px;
  background-size: 100%;
}

input.formField {
  color: black;
}

#noanim-tab-example {
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formField {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
}

button.button {
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  color: black;
}