/********************* Media queries (start) *********************/
@media only screen and (max-width: 600px) {
  div.tab-content {
      width: 100%
  }
  .tabContent {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  div.tab-content {
      width: 80%;
  }
  .tabContent {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  div.tab-content {
      width: 70%;
  }
  .tabContent {
    width: 60%;
  }
}
/******************** Media queries (end) ********************/

/********************** General (start) **********************/
html, body, .App, div#root {
  height:100%; 
  min-height: 100%;
}

a, a:hover {
  color: rgba(145, 32, 49, 0.8) !important;
}
/********************** General (end) **********************/

/********************* Callout (start) *********************/
/* Main div of callout*/
div.tab-content {
  float: none;
  margin: 5% auto auto auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Next nested callout div */
div.tabContent {
  margin: auto;
  float: none;
  height:100%;
  min-height: 100%;
  overflow: auto;
}

/* Callout content */
div.callout {
  border: 5px solid black;
  padding: 40px;
  min-height: 18em;
}
/********************* Callout (end) *********************/

/******************* Main App (start) ********************/
.App {
  text-align: center;
  background-size: 100%;
}

.App-inner {
  margin: auto;
  float: none;
  background-size: 100%;
  width: 100%;
}

.App-body {
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  max-width: 200px;
}

.App-header {
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
/******************* Main App (end) *********************/

/****************** Navigation (start) *******************/
ul.nav.nav-tabs {
  background: rgba(0, 0, 0, 0.85);
  font-size: 15px;
  font-weight: 700;
  font-family: 'Helvetica';
}

.nav-tabs>li.active>a {
  background-color: rgba(145, 32, 49, 0.8) !important;
  color: white !important;
}
/****************** Navigation (end) *******************/
input.formField {
  color: black;
}

.formField {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
}

button.button {
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  background-color: rgba(125, 18, 18, 0.85);
  color: white;
  border: black solid 2px;
  width: 35%;
  margin-top: 40px;
}

button.button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border: rgb(145, 32, 49) solid 2px;
  color: rgb(145, 32, 49);
}